 /* Added Poppins font from google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
body {
    font-family: 'Poppins', sans-serif;
}
#navbar-menu {
    height: 100px;
}
#carouselslideritem {
    min-height:calc(100vh - 100px);
}
.booking-btn {
    color: #3F87F5;
    background-color: white;
    padding: 8px 25px;
    border-radius: 5px;
    border: none;
}
.wedding-place-btn {
    color: white;
    background-color: #3f87f5;
    padding: 8px 25px;
    border-radius: 5px;
    border: none;
}
.btn-choose-plan {
    color: black;
    background-color: #f085c9;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
}
.list-item li{
    list-style-type: none;
}
#highlight-card {
        background: #91f1f09c;
}
#footer {
    background-color:#0B0D17;

}
#plan-place3 {
    position: relative;
}
#toastid {
    position: relative;
    top: -270px;
    right: -275px;
}